:root {--white: #ffffff;--button: #386641;--highlight: #7cd26f;--bgcolor: #f2e8cf;--brandcolor: #d4a373;--offbgcolor: #fefae0;}
body {font-family: Arial, sans-serif; margin: 20px; padding: 20px 0px 0px; background-color: var(--bgcolor);font-size:14px;}
label {display: block; margin-top: 5px;}
input, button {padding: 8px 20px; margin-top: 5px; border: 0;}
input {flex: 1;}
button {width: 100%;}
input[type="text"], input[type="file"] {margin-bottom: 14px;padding:23px;border-radius: 15px;font-size: 20px;}
h2 {color: var(--brandcolor);font-size: 2rem;}
button {background-color: var(--button);  color: var(--white); cursor: pointer; transition: background-color 0.3s ease;border-radius: 15px;font-size: 16px;font-weight: bold; padding: 10px 5px;height: 70px; border: none; outline: none;}
button:hover {background-color: var(--highlight);color: var(--white);}
.pulsing {animation: pulse 0.25s infinite alternate;}
@keyframes pulse {
  0% {background-color: var(--button);}
  100% {background-color: var(--highlight);}
}
input[type="file"] {display: none;}
#progressBar {width: 100%; background: var(--offbgcolor);border-radius: 15px;}
#progress {width: 0%; background: var(--highlight);border-radius: 15px;}
#newUrl {padding: 8px 20px 9px; margin-top: 0px; cursor: copy; font-size:14px; color: var(--button); word-break: break-word;}
#file-name {color:var(--white);}
#ftp-status {padding: 10px;text-align:center;}
.custom-file-upload {display: flex;flex-direction: column;justify-content: center;padding: 26px 20px;height: 107px;background-color: var(--button);color: var(--white);text-align: center;font-size: 16px;font-weight: bold;border-radius: 15px;cursor: pointer;transition: background-color 0.3s ease;}
.custom-file-upload:hover {background-color: var(--highlight);}
.container {display: grid;grid-template-columns: 1fr;grid-template-rows: auto;gap: 10px;width: 100%;margin: auto;}
.top-bar {display: grid;grid-template-columns: 2fr 1fr 1fr;align-items: center;gap: 10px;padding: 10px 0;}
.top-bar h2 {padding:0px;margin: 0;}
#dropZone.drag-over {background: var(--highlight); border: 5px dashed var(--button);}
.content-row {display: flex;gap: 10px;}
.content-large {flex: 1;display: flex; flex-direction: column;}
.full-width {display: flex;width: 100%;}
@media (max-width: 768px) {
  .top-bar {grid-template-columns: 1fr; text-align: center;}
  .content-row {flex-direction: column;}
  .content-large {width: 100%;}
}
